.container-fluid {
    background-color:  #ccb3ff;
 }
 
 .navbar-brand {
     color: black;
     font-family: 'Architects Daughter', cursive;
     margin-top: 0px;
     margin-bottom: 0px;
 }
 
 
 .navbar-default .navbar-nav>li>a {
     color:black;
     font-family: 'Quicksand', sans-serif;
     list-style: none;
     margin-bottom: 0px;
     background-color: #ccb3ff;
     margin-left: 0px;
     margin-right: 0px;
     display: block;
 }

 ul {
     float: right;
 }

 .navbar {
     margin-bottom: 0%;
 }
