<link href="https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@600&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<nav class="navbar navbar-default">
  <nav class="navbar">
      <div class="container-fluid">
        <h1 class="navbar-brand"> LET'S PLAN </h1>
        <ul class="nav navbar-nav">
          <li routerLinkActive="active" *ngIf="isAuthenticated"> <a routerLink="/travel"> <i class="material-icons"> flight_takeoff </i> Viaggi </a> </li>
          <li routerLinkActive="active" *ngIf="!isAuthenticated"> <a routerLink="/auth"> <i class="material-icons"> login </i> Accedi </a></li>
          <li *ngIf="isAuthenticated"> <a style="cursor: pointer;" (click)="onLogout()"> <i class="material-icons"> logout </i> Esci </a></li>
        </ul>
      </div>
  </nav>
</nav>
